################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFC.Common.Framework/obj
/packages
/DFC.Common.Framework/bin/Debug
*.user
/DFC.Common.Framework/bin
/DFC.Common.Core/bin/Release/netstandard2.0
/DFC.Common.Core/obj
/DFC.Common.Core/bin/Release
/DFC.Common.Core/bin/Debug
