################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFC.Common.Framework/obj
/packages
/DFC.Common.Framework/bin/Debug
*.user
/DFC.Common.Framework/bin
